{{ template "header" . }}
{{ template "admin_header" . }}

<main class="lyear-layout-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header"><h4>EPG列表</h4></div>
					<div id="listctr" class="card-toolbar clearfix">
						<form class="pull-right search-bar" method="get" action="/admin/epgsList" role="form">
							<div class="input-group">
								<div class="input-group-btn">
									<input class="form-control" style="width: 225px;" type="text" name="keywords" value="{{ .Keywords }}" placeholder="请输入名称">
									<button class="btn btn-default" type="button" onclick="submitFormGET(this)" name="submitsearch" >搜索</button>
								</div>
							</div>
						</form>

						<div class="toolbar-btn-action">
							<form class="pull-left" method="GET" action="/admin/epgsList" id="recCounts">
									<label>每页</label>
									<select class="btn btn-sm btn-default dropdown-toggle" id="sel" name="recCounts" onchange="submitFormCounts();">			
										<option value="10" {{ if eq .RecCounts 10 }}selected="selected"{{ end }}>10</option>
										<option value="20" {{ if eq .RecCounts 20 }}selected="selected"{{ end }}>20</option>
										<option value="50" {{ if eq .RecCounts 50 }}selected="selected"{{ end }}>50</option>
										<option value="100" {{ if eq .RecCounts 100 }}selected="selected"{{ end }}>100</option>			
									</select><label>&nbsp;条</label>
							</form>
							<form class="pull-left" method="get" action="/admin/epgsList">
								<input type="text" name="jumpto" style="border-width: 0px;text-align: right;" size=2 value="{{ .Page }}">/{{ .PageCount }}页
								<button class="btn btn-xs btn-default" type="button" onclick="submitFormGET(this)">跳转</button>
							</form>
						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane active">
							<div class="form-group">
								<div class="table-responsive" >
									<table class="table table-hover table-vcenter">
										<tr>
											<td colspan="7">
												<form action="/admin/epgsList" method="POST">
													<label class="control-label">操作：</label>
													<button class="btn btn-default" type="button" data-toggle="modal" data-target="#editepg">增加EPG</button>
													<button class="btn btn-default" type="button" name="delnotfrom" onclick="confirmAndSubmit(this,'确定要删除无来源EPG吗？')">删除无来源EPG</button>
													<button class="btn btn-default" type="button" onclick="submitFormPOST(this)" name="bindchannel">自动绑定频道</button>
													<button class="btn btn-default" type="button" onclick="confirmAndSubmit(this,'确定要清空绑定的频道列表吗？ 手动绑定将会失效不会自动添加！')" name="clearbind">清空绑定</button>
													<button class="btn btn-default" type="button" name="clearcache" onclick="confirmAndSubmit(this,'确定要清空EPG缓存吗？')">清空EPG缓存</button>
												</form>
											</td>
										</tr>
										</table>
										<table class="table table-hover table-vcenter">
										<tr align="center">
											<!-- <td class="w-5">#</td> -->
											<td class="w-5">EPG名称</td>
											<td class="w-10">来源</td>
											<td class="w-5">状态</td>
											<td class="w-5">logo</td>
											<td class="w-10">绑定频道</td>
											<td class="w-5">操作</td>
										</tr>
										<tbody style="font-size:12px;font-weight: bold;">
                                        {{ if gt (len .Epgs) 0 }}
                                        {{range .Epgs}}
                                        <tr data-name="{{.Name}}">    
                                            <td align="center" class="epg-id" data-value="{{.ID}}" style="display:none;">{{.ID}}</td>
											<td align="center" class="epg-cas" data-value="{{.CasStr}}" style="display:none;">{{.CasStr}}</td>
                                            <td align="center" class="epg-name" data-value="{{.Name}}">{{.Name}}</td>
                                            <td align="center" class="epg-remarks" data-value="{{.Remarks}}" style="display:none;">{{.Remarks}}</td>
                                            <td align="center" class="epg-from" data-value="{{.FromListStr}}">{{.FromName}}</td>
                                            <td align="center">{{ if eq .Status 1 }}<font color="#33a996">上线</font>{{else}}<font color="red">下线</font>{{end}}</td>
											<td align="center">
												 <div id="logo_{{ .ID }}" style="position:relative; {{if eq .Logo ""}}display:none;{{end}}">
													<img id="logoImg" src="{{ .Logo }}" alt="预览" style="background-color: black;height:26px; border:1px solid #ccc; border-radius:4px; cursor:pointer;">
													<!-- 删除按钮 -->
													<span id="deleteIconView" onclick="deleteLogo('{{ .ID }}')" data-name="{{ .ID }}" id="{{ .ID }}" style="
														position:absolute; top:-8px; right:-8px;
														background:#f00; color:#fff; border-radius:50%;
														font-size:14px; line-height:16px; width:16px; height:16px;
														text-align:center; cursor:pointer;">×</span>
												</div>
											</td>
                                            <td align="left">{{.Content}}</td>
                                            <td align="center">
												<div style="display: inline-flex; flex-wrap: nowrap;">
													<button type="button" onclick="tdBtnPOST(this)" name="change_status" value="{{.ID}}" class="btn btn-xs {{if eq .Status 1 }}btn-warning">下线{{else}}btn-success">上线{{end}}</button>&nbsp;
                                                <button class="btn btn-xs btn-info" type="button" value="{{.ID}}" name="epgGetCa" data-toggle="modal" onclick="epgEdit(this)" data-target="#editepg">编辑</button>&nbsp;
												<button class="btn btn-xs btn-info" type="button" name="bdingepg" value="{{.ID}}" data-toggle="modal" onclick="epgsGetChannel(this)" data-target="#bdingepg">手动绑定</button>&nbsp;
												<label class="btn btn-xs btn-info" style="margin:0;">
													<span>上传logo</span>
													<input type="file" name="uploadlogo" id="uploadlogo" onchange="uploadLogo(this)" style="display:none;">
												</label>&nbsp;
												{{ if gt .ID 18 }}
                                                <button class="btn btn-xs btn-danger" type="button" onclick="tdBtnPOST(this)" name="delepg" value="{{.ID}}">删除</button>
												{{ end }}
												</div>
                                            </td>
                                        </tr>
                                        {{end}}
                                        {{ end }}
										</tbody>
									</table>
                                    <div class="modal fade" id="editepg" tabindex="-1" role="dialog">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#epgId').val('');$('#epgName').val('');$('#epgRemarks').val('');epgCaSelect.setValue([ ]);epgFrom.setValue([ ]);"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title">编辑EPG</h4>
												</div>
												<form method="post" action="/admin/epgsList">
													<div class="modal-body">
														<div class="form-inline">
															<div class="form-group">
																<label class="control-label">EPG名称:</label>
																<input type="hidden" id="epgId" name="epgId" style="width: 0px;" value="">
																<input class="form-control" type="text" id="epgName" name="name" placeholder="EPG名称" value="">
															</div>
														</div>
														<div class="input-inline" style="margin-top: 10px;">
															<label>EPG来源:</label>
															<div id="epgFrom"></div>
														</div>
														<div class="input-inline" style="margin-top: 10px;">
															<label class="control-label">自动绑定规则:</label>
															<textarea class="form-control" rows="5" id="epgRemarks" name="epgRemarks" placeholder="多个自动绑定规则匹配请用 | 分隔开" ></textarea>
															<small class="help-block">提示：多个自动绑定规则匹配请用 | 分隔开</small>
														</div>
														<div>
															<label class="control-label">自动绑定的分组:</label>
															<small class="help-block">不在分组内的频道将不会自动绑定</small>
															<div id="epgCaSelect"></div>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" id="save_epg" name="save_epg">确定</button>
														<button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#epgId').val('');$('#epgName').val('');$('#epgRemarks').val('');epgCaSelect.setValue([ ]);epgFrom.setValue([ ]);">关闭</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="modal fade" id="bdingepg" tabindex="-1" role="dialog">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title">手动绑定频道</h4>
												</div>
												<form method="post" action="/admin/epgsList">
													<div class="modal-body">
														<table class="table table-bordered table-striped table-vcenter" align="center">
                                                            <tr>
                                                                <td>
                                                                    <div class="input-group">
                                                                        <div class="input-group-btn">
																			<input type="hidden" id="epgId1" name="epgId" style="width: 0px;" value="">
                                                                            <input class="form-control" type="text" id="epgName1" style="width: 125px;" placeholder="EPG名称" value="" disabled>&nbsp;&nbsp;
                                                                            <button class="btn btn-default"  type="button" onclick="clearCheck()" name="clearbind">清空绑定</button>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label class="lyear-checkbox m-b-10">
																		<input type="checkbox" onclick="checkboxAllName(this)">
																		<span>全选/反选</span>
																	</label>
                                                                    <div class="form-inline epg-checkbox">
																	</div>
                                                                </td>
                                                            </tr>
                                                        </table>
													</div>
													<div class="modal-footer">
														<button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" id="edit_save_epg" name="bding_save_epg">确定</button>
														<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
                            <nav> 
                                <ul class="pager"> 
                                {{ $prev := .Page }} {{ if gt .Page 1 }} {{ $prev = Sub .Page 1 }} {{ else }} {{ $prev = 1 }} {{ end }} 
                                    <li><a href="?page={{ $prev }}&keywords={{ .Keywords }}&recCounts={{ .RecCounts }}" class="loaduser">上一页</a></li>  
                                {{ $next := .Page }} {{ if lt .Page .PageCount }} {{ $next = Add .Page 1 }} {{ else }} {{ $next = .Page }} {{ end }} 
                                    <li><a href="?page={{ $next }}&keywords={{ .Keywords }}&recCounts={{ .RecCounts }}" class="loaduser">下一页</a></li>

                                    <li class="previous"><a href="?page=1&keywords={{ .Keywords }}&recCounts={{ .RecCounts }}" class="loaduser">&larr;首页</a></li> 
                                    <li class="next"><a href="?page={{ .PageCount }}&keywords={{ .Keywords }}&recCounts={{ .RecCounts }}" class="loaduser">尾页&rarr;</a></li>
                                </ul> 
                            </nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script>
var epgFrom = xmSelect.render({
	el: '#epgFrom',
	name :"fromList",
	tips: '请选择EPG节目单来源', 
	autoRow: true,
	toolbar: {show: true, list: ['ALL', 'CLEAR', 'REVERSE']},
	data: [
		{name: 'CCTV官网', value: 0},
		{{ range .EpgFromDb }}
		{name: '{{.Name}}', value: {{.ID}}},
		{{end}}
	]
})

var epgCaSelect = xmSelect.render({
	el: '#epgCaSelect', 
	name: 'caList',
	autoRow: true,
	tips: '选则自动绑定哪些频道分类中的频道', 
	filterable: true,
	paging: true,
	pageSize: 5,
	direction: 'up',
	toolbar: {show: true, list: ['ALL', 'CLEAR', 'REVERSE']},
	data: [
		{{ range .CaList }}
		{name: '{{.Name}}', value: {{.ID}}},
		{{end}}
	]
})
</script>
{{ template "admin_footer" . }}